{
  "openapi": "3.0.2",
  "info": {
    "description": "DL Virtual Captive Platform REST API Integration with External Systems",
    "version": "2.28.0.0",
    "title": "VCP REST API Integration"
  },
  "tags": [
    {
      "name": "partner"
    },
    {
      "name": "asset"
    },
    {
      "name": "quote"
    },
    {
      "name": "documents"
    }
  ],
  "servers": [
    {
      "url": "https://webleasingapi.deutsche-leasing.com/api/v1"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "operationId": "getToken",
        "summary": "Get token",
        "description": "Get a bearer token by providing the client id and the client secret from the External System.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GetTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ping": {
      "post": {
        "operationId": "Ping",
        "summary": "Ping",
        "description": "View API status form VCP",
        "security": [
          {
            "oauth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/values/{key}": {
      "get": {
        "operationId": "GetValues",
        "summary": "Get values",
        "description": "View dictionary values for specific dictionaries",
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "in": "path",
            "name": "key",
            "description": "'The key of the dictionary. A list is provided in case of failure, which is: \n  ZootPartnerSearchConfig, EnvironmentFriendly, Currency, UsageType, ConditionType, PartnerType, FinancialProduct, FinancialProductType, InterestType, ServiceType, ScheduleType.\nAll the values from this operation are also covered by the annex *List of Property possible values*.'",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Currency"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetValuesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/partners": {
      "post": {
        "operationId": "GetPartners",
        "summary": "Get partners",
        "description": "Search partner in DL database based on filters send as parameters. If it isn’t found  in DL database an interrogation to Credit Bureaus is performed to get general partner  data corresponding with the filter. A list of partners (with general information) is returned. This will contain 2 partner categories (one that are from Charisma System (having only *PartnerId*) and another one from Credit Bureau System (having only *Origin* and *BureauId*)).",
        "tags": [
          "partner"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartnersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Partners response output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartnersResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/partners/{partnerId}": {
      "get": {
        "operationId": "GetPartnerByPartnerId",
        "summary": "Get partner by partner id",
        "description": "Get more detail from a specific partner available in Charisma System. The external system receives all details of the selected partner from Charisma System.",
        "tags": [
          "partner"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "in": "path",
            "name": "partnerId",
            "description": "Partner identification number from the Charisma System.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "1000115"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Partner"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/partners/{origin}/{bureauId}": {
      "get": {
        "operationId": "GetPartnerByOriginAndBureauId",
        "summary": "Get partner by origin and bureauId",
        "description": "Get more detail from a specific partner available in a Credit Bureau System. This needs to be called when a *PartnerId* is not available. The external system receives all details of the selected partner. These are taken from the Credit Bureau system only if not already present in Charisma System.",
        "tags": [
          "partner"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "in": "path",
            "name": "origin",
            "description": "The source system of the Partner. Based on this field the system should know from where to retrieve partner data (Charisma System or Credit Bureau System).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "KEYSFIN"
          },
          {
            "in": "path",
            "name": "bureauId",
            "description": "Partner identification field from the Credit Bureau System.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "RO1000115AA"
          }
        ],
        "responses": {
          "200": {
            "description": "Partner informations response output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Partner"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/assetTypes": {
      "get": {
        "operationId": "GetAssetTypes",
        "summary": "Get asset types",
        "description": "Returned the assets list for a specific VCP quote. It can be called progressively  to respect internal logic from VCP. Subsequent calls return only compatible asset  types with those already selected on specific quote. Each subsequent call must preceded by a call for Sync Quote.      ",
        "tags": [
          "asset"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "in": "query",
            "name": "currencyId",
            "description": "'The id of the currency in Charisma System.  Please see the annex *List of Property possible values*, sheet *Currency*, column *Id*. Values can also be found by calling */values/currency* (field: *Id*).'",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 28
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All available asset types.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetTypesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/syncQuote": {
      "post": {
        "operationId": "SyncQuote",
        "summary": "Sync quote",
        "description": "This method synthetizes all changes done to a quote. It is sent to VCP all quote data to update the VCP information. If the quote is not created, based on the received information, it will be created in this method.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote and quote assets identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncedQuote"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}": {
      "get": {
        "operationId": "getQuote",
        "summary": "Get quote",
        "description": "The VCP quote.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of a quote.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncedQuote"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/assetTypes": {
      "get": {
        "operationId": "GetQuoteAssetTypes",
        "summary": "Get quote asset types",
        "description": "Retrieves the asset types that respect the configured conditions and can be added on a specific quote. This conditions are configured by DeutscheLeasing in Charisma System. ",
        "tags": [
          "quote",
          "asset"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset types list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuoteAssetTypesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/products/definitions": {
      "get": {
        "operationId": "getQuoteProductsDefinitions",
        "summary": "Get quote products definitions",
        "description": "Get financial product definitions available for a specific quote.  This is not mandatory to be called as it retrieves financial configuration  restrictions that are used as restrictions in Charisma System.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all available product type definitions with constranints that can be used on a specific quote.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuoteProductsDefinitionsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/paymentSchedule": {
      "get": {
        "operationId": "getQuotePaymentSchedule",
        "summary": "Get quote payment schedule.",
        "description": "The external system receives the calculated schedule plan. The schedule plan  is calculated in VCP based on the offer created by the external system.  ",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the payment schedule of the quote for the current financial setup.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuotePaymentScheduleResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/scoringQuestions": {
      "get": {
        "operationId": "getQuoteScoringQuestions",
        "summary": "Get quote scoring questions",
        "description": "Get scoring questions for a specific quote.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of questions in order to have additional informations provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuoteScoringQuestionsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/approval": {
      "get": {
        "operationId": "getApproval",
        "summary": "Get approval",
        "description": "Get current approval status.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the last approval status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApprovalResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      },
      "post": {
        "operationId": "startApproval",
        "summary": "Start approval",
        "description": "Start approval (indicative approval) of a quote.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartApprovalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the *status* of the approval.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartApprovalResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/approval/cancel": {
      "post": {
        "operationId": "cancelApproval",
        "summary": "Cancel approval",
        "description": "Cancel the process of a final approval if this was started.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the *quoteId* of the quote approval that was cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelApprovalResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/contract": {
      "post": {
        "operationId": "startContract",
        "summary": "Start contract",
        "description": "Create a contract for the provided assets.",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartContractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the *contractId* and the *contractNumber* of the created contract.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartContractResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/contract/{contractId}/generateSepaMandate": {
      "post": {
        "operationId": "generateSepaMandate",
        "summary": "Generate sepa mandate",
        "description": "In order to collect Direct Debits on a bank account, any Creditor needs to get the approval  of the Debtor through the acquisition of a valid SEPA Direct Debit Mandate. ",
        "tags": [
          "quote"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          },
          {
            "in": "path",
            "name": "contractId",
            "description": "The id of the contract from Charisma System.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": "90001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateSepaMandateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the *document number* of the created mandate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateSepaMandateResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/documents": {
      "get": {
        "operationId": "getDocuments",
        "summary": "Get documents",
        "description": "Get a list with the document templates available for download for this quote (with {quoteId}).  Each document template will also contain all the uploaded files. The list will be generated for the default quote product. The default quote product is considered to be the selected product or the first product from the list.",
        "tags": [
          "documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/{quoteProductId}/documents/": {
      "get": {
        "operationId": "getSpecificDocuments",
        "summary": "Get specific documents",
        "description": "Get a list with the document templates available for download for this quote (with {quoteId}) for the specified product (by {quoteProductId}). Each document template will also contain all the uploaded files.",
        "tags": [
          "documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          },
          {
            "in": "path",
            "name": "quoteProductId",
            "description": "The id of the quote product.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": "90001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSpecificDocumentsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/documents/upload": {
      "post": {
        "operationId": "uploadDocument",
        "summary": "Upload a document file.",
        "description": "Upload a document file. ",
        "tags": [
          "documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/documents/download": {
      "post": {
        "operationId": "downloadDocument",
        "summary": "Download a document file.",
        "description": "Download a document file by using a document template provided by *getDocuments* operation.",
        "tags": [
          "documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentType"
          },
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadedDocument"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    },
    "/quotes/{quoteId}/documents/{fileId}": {
      "get": {
        "operationId": "downloadDocumentByFileId",
        "summary": "Download document by file id",
        "description": "Download a previously uploaded file.",
        "tags": [
          "documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/requestId"
          },
          {
            "$ref": "#/components/parameters/countryCode"
          },
          {
            "$ref": "#/components/parameters/vendorCode"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/legalEntity"
          },
          {
            "$ref": "#/components/parameters/quoteId"
          },
          {
            "in": "path",
            "name": "fileId",
            "description": "The id of the file to be downloaded from Charisma System.  It is provided by the *getDocuments* operation (in *uploadedFiles/fileId*) or by the *uploadDocument* operation (*fileId*).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "4a90e5c0-90ee-462a-b4d4-ae9961b52090"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadedDocument"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ResponseErrors"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AnyType": {
        "description": "Can be any type - string, number, boolean, date.",
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "integer"
          },
          {
            "type": "boolean"
          }
        ]
      },
      "ProductDocumentTemplate": {
        "type": "object",
        "required": [
          "id",
          "name",
          "properties"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "description": "Required document template alias from product definition from Charisma System.",
            "type": "string"
          },
          "uploadedFiles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fileId": {
                  "type": "string",
                  "format": "uuid",
                  "example": "4a90e5c0-90ee-462a-b4d4-ae9961b52090"
                },
                "fileName": {
                  "type": "string",
                  "example": "Declaratie KYC IFN (3).PDF"
                },
                "mediaContentType": {
                  "type": "string",
                  "example": "application/pdf"
                }
              }
            }
          },
          "properties": {
            "type": "array",
            "items": {
              "properties": {
                "name": {
                  "type": "string",
                  "example": "ClientId"
                },
                "value": {
                  "type": "string",
                  "example": "4258"
                }
              }
            }
          }
        }
      },
      "AssetType": {
        "description": "List of asset types",
        "type": "object",
        "required": [
          "assetId",
          "assetCode"
        ],
        "properties": {
          "assetId": {
            "description": "The id of the asset from Charisma system. Please see the dictionary values in Annex, excel file *List of Property possible values*, sheet *Asset*, column  *Model Id*",
            "nullable": false,
            "type": "integer",
            "format": "int32",
            "example": "92227"
          },
          "assetCode": {
            "description": "The code of the asset from Charisma system. Please see the dictionary values in Annex, excel file *List of Property possible values*, sheet *Asset*, column  *Model Code*. This is the id of the model in AME system.",
            "nullable": false,
            "type": "string",
            "example": "9166"
          },
          "assetName": {
            "description": "The name of the asset from Charisma system. Please see the dictionary values in Annex, excel file *List of Property possible values*, sheet *Asset*, column  *Model Name*",
            "nullable": true,
            "type": "string",
            "example": "DIGITAL LASER SORTER"
          },
          "brandCode": {
            "description": "The name of the asset brand from the Charisma System.",
            "nullable": false,
            "type": "string"
          },
          "brandName": {
            "description": "The name of the asset brand from the Charisma System.",
            "nullable": true,
            "type": "string",
            "example": "Volvo"
          },
          "kindOfObjectCode": {
            "description": "The kind of object code of the asset from Charisma System.",
            "nullable": false,
            "type": "string"
          },
          "kindOfObjectName": {
            "description": "The kind of object name of the asset from Charisma System.",
            "nullable": true,
            "type": "string",
            "example": "Compactors"
          }
        }
      },
      "ResponseError": {
        "type": "object",
        "description": "\"List of errors (errorCode => errorMessage): General.RequestHeaders.MissingContentType                   =>        Mandatory request header 'Content-Type' is missing. General.RequestHeaders.MissingCountryCode                   =>        Mandatory request header 'X-CountryCode' is missing. General.RequestHeaders.InvalidCountryCode                   =>        Request header 'X-CountryCode' value is not valid. General.RequestHeaders.MissingVendorCode                    =>        Mandatory request header 'X-VendorCode' is missing. General.RequestHeaders.InvalidVendorCode                    =>        Request header 'X-VendorCode' value is not valid. General.RequestHeaders.MissingUsername                      =>        Mandatory request header 'X-Username' is missing. General.RequestHeaders.MissingLegalEntity                   =>        Mandatory request header 'X-LegalEntity' is missing. General.RequestHeaders.InvalidUsername                      =>        The provided application username from header 'X-Username' is not valid. General.InternalError                                       =>        Internal error occured. ApiOAuth.BadRequest                                         =>        Grant type (grant_type) was not provided correctly. ApiOAuth.InvalidCredentials                                 =>        Credentials(client_id and/or client_secret) are not valid. Ping.RequestModel.FieldMinimumLength                        =>        The length of {PropertyName} must be at least 3 characters. Ping.RequestModel.FieldHasNoDigit                            =>        The content of {PropertyName} must not contain any digits. GetPartners.RequestModel.FieldNotEmpty                      =>        The {PropertyName} field cannot be empty. GetPartners.RequestModel.ObjectNotFound                      =>        Partner filter code does not exist. GetPartners.RequestModel.DuplicateObjects                    =>        Partner filter codes are duplicated. GetPartners.PartnerFilter.FieldNotEmpty                      =>        The {PropertyName} field cannot be empty for filter with 'FilterValue': {x.FilterValue}. GetPartners.PartnerFilter.FieldNotEmpty                      =>        The {{PropertyName}} field cannot be empty for filter with 'FilterCode': {x.FilterCode}. GetPartners.InvalidSearchFilters                            =>        The filter(s) should satisfy the next condition: {searchCondition.SearchConditionText}. GetPartner.RequestModel.MissingField(s)                      =>        Missing required field(s). 'PartnerId' or ('Origin' and 'BureauId') need to be provided. GetPartner.InvalidPartnerId                                 =>        The partnerId from request does not exist. GetAssetTypes.RequestModel.FieldNotEmpty                    =>        The {PropertyName} field cannot be empty. GetFinancialProductDefinitions.RequestModel-FieldNotEmpty   =>        The {PropertyName} field cannot be empty. GetFinancialProductDefinitions.InvalidQuoteId               =>        The provided quoteId is invalid. GetQuotePaymentSchedule.RequestModel-FieldNotEmpty          =>        The {PropertyName} field cannot be empty. GetScoreQuestions.RequestModel-FieldNotEmpty                =>        The {PropertyName} field cannot be empty. GetQuote.RequestModel-FieldNotEmpty                         =>        The {PropertyName} field cannot be empty. GetDocuments.RequestModel-FieldNotEmpty                     =>        The {PropertyName} field cannot be empty. UploadDocument.RequestModel-FieldNotEmpty                   =>        The {PropertyName} field cannot be empty. UploadDocument.ProductDocumentTemplate-FieldNotEmpty        =>        The {PropertyName} field cannot be empty. DownloadDocument.RequestModel-FieldNotEmpty                 =>        The {PropertyName} field cannot be empty. DownloadDocument.TemplateRequestModel-FieldNotEmpty         =>        The {PropertyName} field cannot be empty. DownloadDocument.DMSRequestModel-FieldNotEmpty              =>        The {PropertyName} field cannot be empty. DownloadDocument.DMSRequestModel-FieldWrong                 =>        The {PropertyName} is wrong. DownloadDocument.ProductDocumentTemplate-FieldNotEmpty      =>        The {PropertyName} field cannot be empty. DownloadDocument.InvalidTemplateId                          =>        The provided TemplateId is not valid for the given quote. QuoteManager.DownloadDocument-FieldNotEmpty                 =>        There is no financial product selected on quote QuoteManager.DownloadDocument-Failed                        =>        The template document could not be found. QuoteManager.DownloadDocument-MissingTemplate               =>        No template is available for download. SyncQuote.RequestModel.FieldNotEmpty                        =>        The {PropertyName} field cannot be empty. SyncQuote.RequestModel.FieldParentIdExists                  =>        The ParentExternalId field should reference to an existing ExternalId. SyncQuote.RequestModel.FieldNotNull                          =>        {PropertyName} should exist. SyncQuote.QuoteAsset.FieldNotEmpty                          =>        The {PropertyName} field cannot be empty. SyncQuote.SyncQuoteHeader.InvalidQuoteId                    =>        The quoteId from request does not exist.   SyncQuote.SyncQuoteHeader.ActionNotAllowed.0001              =>        Quote must have status with code NOFINPRD(No finance product) or INCCSTD(Incomplete customer data). SyncQuote.SyncQuoteHeader.ActionNotAllowed.0002              =>        Currency cannot be changed on a quote that has assets. SyncQuote.SyncQuoteHeader.ActionNotAllowed.0003              =>        Client cannot be changed on a quote that has assets. SyncQuote.SyncAssets.InvalidAssetNetPrice                    =>        The asset net price value must be greater than 0. SyncQuote.SyncAssets.InvalidAdditionalCosts                 =>        Additional costs can not be more than 10% of the asset price. SyncQuote.SyncAssets.InvalidManufacturingYear               =>        Manufacturing year has to be in the last 20 years. SyncQuote.SyncAssets.NoPossibleAssetsAvailable              =>        There are no assets configured and available for this currency ({currencyId}) and dealer ({dealerId}). SyncQuote.SyncAssets.AssetsNotAllowed                        =>        The assets on request do not match the possible assets for the given Quote for the selected currency and dealer. SyncQuote.SyncAssets.SupplierNotFound                        =>        The asset suppliers on request do not match the list of possible suppliers for the given Quote. SyncQuote.SyncAssets.MissingPriceCards                      =>        No valid common pricecard was found for the provided assets. SyncQuote.SyncProduct.PercentAndAmountNotAllowed            =>        The product has both the amount and the percent for Residual value or DownPayment. SyncQuote.SyncProduct.MissingProducts                        =>        There is no product that matches the product from the request. SyncQuote.SyncProduct.InterestTypeNotAllowed                =>        The interest type from the request does not match the interest type on the existing Product. SyncQuote.SyncProduct.DuplicatedServicesNotAllowed          =>        There are duplicated ServiceTypeIds for the given Product. SyncQuote.SyncProduct.ServicesNotAllowed                    =>        The services on request do not match the possbile services for the given Product. SyncQuote.SyncProduct.ServiceAmountNotAllowed                =>        There are services with an amount value that does not match the value interval configured in Charisma. StartApproval.RequestModel-FieldNotEmpty                    =>        The {PropertyName} field cannot be empty. StartApproval.RequestModel-FieldNotEmpty                    =>        The {{PropertyName}} field cannot be empty for question with 'QuestionCode' StartApproval.RequestModel-FieldNotEmpty                    =>        The {{PropertyName}} field cannot be empty for question with 'QuestionId' GetApproval.RequestModel-FieldNotEmpty                      =>        The {PropertyName} field cannot be empty. GetApproval.NoApprovalProcess                               =>        No approval operation was found for this quote. GenerateSepaMandate.RequestModel-FieldNotEmpty              =>        The {PropertyName} field cannot be empty. GetSepaMandate.GetDocumentNumber-ActionInterrupted          =>        The process of generate sepa mandate is interrupted by an error. QuoteManager.GetSepaMandateDocumentNumber-InvalidContract   =>        The requested contract is not generated from requested quote. StartApproval.QuoteStatusNotOK                              =>        The quote status is invalid for the operation. StartApproval.PreselectedProductMissing                     =>        There is no preselected product. StartApproval.AlreadyRunning                                =>        There is already a start approval operation in progress for this quote. StartContract.RequestModel-FieldNotEmpty                    =>        The {PropertyName} field cannot be empty. StartContract.RequestModel-MissingField(s)                  =>        The {PropertyName} is empty or missing required field(s). StartContract.RequestModel-FieldNotEmpty                    =>        The {{PropertyName}} field cannot be empty for asset with 'ExternalId' StartContract.RequestModel-FieldNotEmpty                    =>        The {{PropertyName}} field cannot be empty for asset with 'QuoteAssetId' QuoteManager.StartContract-NoPerson                         =>        The current user ({userName}) has no person attached in Charisma System. QuoteManager.StartContract-NoApprovedFile                   =>        The approved file does not exist for this quote. QuoteManager.StartContract-InvalidContractState             =>        The current file state '{StateName}' (state code: '{StateCode}') is not valid. \n                                                                      Valid states are: '{StateValidated.StateName}' (state code: '{StateValidated.StateCode}'), \n                                                                      '{StateAcceptedWithAdditionalConditions.StateName}' (state code: '{StateAcceptedWithAdditionalConditions.StateCode}').\nQuoteManager.StartContract-GeneratedContract                =>        For the quote asset with ID = ({quoteAssetId}), contract has already been generated. QuoteManager.StartContract-NotGeneratedContract             =>        The contract was not generated. QuoteManager.StartContract-EmptyDetails                     =>        The approved file does not contain details.\"",
        "required": [
          "code",
          "message",
          "correlationId"
        ],
        "properties": {
          "code": {
            "description": "Response error code",
            "nullable": false,
            "type": "string",
            "example": "EMPTY"
          },
          "message": {
            "description": "Response error description",
            "nullable": false,
            "type": "string",
            "example": "Collection is empty"
          },
          "correlationId": {
            "description": "Response error correlation id. Intended to be used on investigations",
            "nullable": false,
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Partner": {
        "description": "Full partner information",
        "required": [
          "partnerId",
          "partnerCode"
        ],
        "properties": {
          "partnerId": {
            "description": "Partner identification number in the Charisma System",
            "type": "integer",
            "format": "int32",
            "example": "1000115"
          },
          "partnerCode": {
            "description": "The code of the partner type from Charisma System.",
            "type": "string"
          },
          "partnerName": {
            "description": "The name of the partner from Charisma System.",
            "type": "string"
          },
          "partnerTypeCode": {
            "description": "The code of the partner type from Charisma System.",
            "type": "string"
          },
          "partnerTypeName": {
            "description": "The name of the partner type from Charisma System.",
            "type": "string"
          },
          "remark": {
            "description": "",
            "type": "string"
          },
          "email": {
            "description": "",
            "type": "string"
          },
          "url": {
            "description": "",
            "type": "string"
          },
          "phoneNumber": {
            "description": "",
            "type": "string"
          },
          "faxNumber": {
            "description": "",
            "type": "string"
          },
          "nace": {
            "description": "The main activity code for the NACE clasification.",
            "type": "string"
          },
          "creditLimit": {
            "description": "The open amount, the unused limit from the facility frame.",
            "type": "number",
            "format": "float"
          },
          "limitValidUntil": {
            "description": "The finish date of the facility frame.",
            "type": "string",
            "format": "date"
          },
          "bankName": {
            "description": "The name of the bank from the partners default bank account.",
            "type": "string"
          },
          "bankAccount": {
            "description": "The account from the partners default bank account.",
            "type": "string"
          },
          "rating": {
            "description": "The rating of the partner",
            "type": "string",
            "example": "3"
          },
          "ratingDate": {
            "description": "The day when the rating was updated.",
            "type": "string",
            "format": "date",
            "example": "2017-07-21"
          },
          "partnerAddresses": {
            "description": "List of partner addresses.",
            "type": "array",
            "items": {
              "description": "Partner address information.",
              "required": [
                "partnerAddressId",
                "partnerId",
                "stairNumber",
                "cityCode",
                "cityName",
                "countryCode",
                "countryName"
              ],
              "properties": {
                "partnerAddressId": {
                  "description": "Partner address id in the Charisma System.",
                  "type": "integer",
                  "format": "int32",
                  "example": "23"
                },
                "partnerId": {
                  "description": "Partner id in the Charisma System.",
                  "type": "integer",
                  "format": "int32",
                  "example": "1000115"
                },
                "syntheticName": {
                  "description": "Is an identification name for the address for the corresponding partner.",
                  "type": "string",
                  "example": "Head Office"
                },
                "street": {
                  "description": "Street name for the address.",
                  "type": "string",
                  "example": "Rindermarkt"
                },
                "streetNumber": {
                  "description": "Street number for the address.",
                  "type": "string",
                  "example": "23"
                },
                "localNumber": {
                  "description": "Local number for the address.",
                  "type": "string",
                  "example": "13-19"
                },
                "buildingNumber": {
                  "description": "Building number for the address.",
                  "type": "string",
                  "example": "T33"
                },
                "zipCode": {
                  "description": "Zip code of the address.",
                  "type": "string",
                  "example": "80469"
                },
                "stairNumber": {
                  "description": "Stair number for the building in the address.",
                  "type": "string",
                  "example": "A-4010"
                },
                "cityCode": {
                  "description": "The code of the city from Charisma System.",
                  "type": "string",
                  "example": "MU"
                },
                "cityName": {
                  "description": "The name of the city from Charisma System.",
                  "type": "string",
                  "example": "Munchen"
                },
                "districtCode": {
                  "description": "The code of the district from Charisma System.",
                  "type": "string",
                  "example": "MU"
                },
                "districtName": {
                  "description": "The name of the district from Charisma System.",
                  "type": "string",
                  "example": "Munchen"
                },
                "countryCode": {
                  "description": "The code of the country from Charisma System.",
                  "type": "string",
                  "example": "GE"
                },
                "countryName": {
                  "description": "The name of the country from Charisma System.",
                  "type": "string",
                  "example": "Germany"
                },
                "email": {
                  "description": "The email for the corresponding address.",
                  "type": "string",
                  "example": "mike@gmail.com"
                },
                "contactPerson": {
                  "description": "The name of a contact person for the corresponding address.",
                  "type": "string",
                  "example": "Mike"
                }
              }
            }
          },
          "partnerProperties": {
            "description": "List of Partner properties",
            "type": "array",
            "items": {
              "description": "",
              "required": [
                "propertyCode",
                "propertyName"
              ],
              "properties": {
                "propertyCode": {
                  "description": "Code of the property",
                  "type": "string",
                  "example": "M"
                },
                "propertyName": {
                  "description": "Name of the property",
                  "type": "string",
                  "example": "Gender"
                },
                "propertyValue": {
                  "description": "Value of the property",
                  "type": "string",
                  "example": "Male"
                }
              }
            }
          }
        }
      },
      "SyncedQuote": {
        "description": "Information about a synced quote.",
        "required": [
          "quoteId",
          "transactionId",
          "externalId",
          "currencyId",
          "currencyCode",
          "partnerId",
          "partnerName",
          "totalAmount",
          "assets",
          "products"
        ],
        "type": "object",
        "properties": {
          "quoteId": {
            "description": "Quote identification number in the Charisma System",
            "nullable": false,
            "type": "integer",
            "format": "int32",
            "example": "8403"
          },
          "transactionId": {
            "description": "Quote document number in Charisma System.",
            "nullable": false,
            "type": "string"
          },
          "externalId": {
            "description": "Quote identification number in provider environment",
            "nullable": false,
            "type": "string",
            "example": "e20697d2d78f"
          },
          "currencyId": {
            "description": "'The id of the currency in Charisma System.  Please see the annex *List of Property possible values*, sheet *Currency*, column *Id*. Values can also be found by calling */values/currency* (field: *Id*).'",
            "nullable": false,
            "type": "integer",
            "format": "int32",
            "example": "28"
          },
          "currencyCode": {
            "description": "The code of the currency in Charisma System. Values can be found by calling */values/currency* (field: *Code*).",
            "nullable": false,
            "type": "string",
            "example": "EUR"
          },
          "partnerId": {
            "description": "Partner identification number in the Charisma System for the quote client.",
            "nullable": false,
            "type": "integer",
            "format": "int32",
            "example": "50412017"
          },
          "partnerName": {
            "description": "Partner name in the Charisma System",
            "nullable": false,
            "type": "string",
            "example": "E&F AGRO GOLD PROD SRL"
          },
          "totalAmount": {
            "description": "Total amount on quote",
            "nullable": false,
            "type": "number",
            "format": "float",
            "example": "10000.00"
          },
          "totalAssetNetPrice": {
            "type": "number",
            "format": "float"
          },
          "totalDealerNetPrice": {
            "type": "number",
            "format": "float"
          },
          "totalAdditionalCosts": {
            "type": "number",
            "format": "float"
          },
          "purchaseOption": {
            "description": "'Possible values: \n  call-option: lessee decides whether he wants to buy the asset at the end of the contract\n  put-option: lessor decides whether the lessee has to buy the asset at the end of the contract\nWill be stored in new GST property in offer, CA, contract Purchase Option.'",
            "type": "string"
          },
          "paymentDay": {
            "description": "Payment date of the month (SCB 1 or 15).",
            "type": "string"
          },
          "buyRate": {
            "description": "The buy rate.",
            "type": "number",
            "format": "float"
          },
          "assets": {
            "description": "List of assets on quote",
            "type": "array",
            "items": {
              "description": "Quote Asset",
              "required": [
                "quoteAssetId",
                "assetId"
              ],
              "type": "object",
              "properties": {
                "quoteAssetId": {
                  "description": "Asset quote id in the Charisma System",
                  "type": "integer",
                  "format": "int32",
                  "example": "8403"
                },
                "externalId": {
                  "description": "External asset id in provider environment",
                  "type": "string",
                  "example": "356ef639a7eb"
                },
                "assetId": {
                  "description": "Asset id in the Charisma System",
                  "type": "integer",
                  "format": "int32",
                  "example": "104473"
                },
                "assetCode": {
                  "description": "Code of asset",
                  "type": "string",
                  "example": "77918"
                },
                "assetName": {
                  "description": "Name of asset",
                  "type": "string",
                  "example": "QUANTUM 4700 S"
                },
                "conditionTypeId": {
                  "description": "Condition type id of asset in Charisma System",
                  "type": "number",
                  "format": "int32",
                  "example": -1
                },
                "conditionTypeCode": {
                  "description": "Condition type code of asset",
                  "type": "string",
                  "example": "NEW"
                },
                "conditionTypeName": {
                  "description": "Condition type name of asset",
                  "type": "string",
                  "example": "NEW"
                },
                "usageTypeId": {
                  "description": "Usage type id of asset",
                  "type": "integer",
                  "format": "int32",
                  "example": "-1"
                },
                "usageTypeCode": {
                  "description": "Usage type code of asset",
                  "type": "string",
                  "example": "1SHFT"
                },
                "usageTypeName": {
                  "description": "Usage type name of asset",
                  "type": "string",
                  "example": "1 shift (8h)"
                },
                "environmentFriendlyTypeId": {
                  "description": "Environment friendly type id of asset in Charisma System. Values can be found by calling */values/environmentFriendly* (field *Id*).",
                  "type": "integer",
                  "format": "int32",
                  "example": "-2"
                },
                "environmentFriendlyTypeCode": {
                  "description": "Environment friendly type code of asset in Charisma System. Values can be found by calling */values/environmentFriendly* (field *Id*).",
                  "type": "string",
                  "example": "MDRT"
                },
                "environmentFriendlyTypeName": {
                  "description": "Environment friendly type name of asset in Charisma System. Values can be found by calling */values/environmentFriendly* (field *Id*).",
                  "type": "string",
                  "example": "Moderat"
                },
                "supplierId": {
                  "description": "Supplier id of asset. It is a partner id from Charisma System.",
                  "type": "integer",
                  "format": "int32",
                  "example": "16778131"
                },
                "supplierName": {
                  "description": "Supplier name of asset",
                  "type": "string",
                  "example": "PROINVEST S.R.L."
                },
                "assetNetPrice": {
                  "description": "",
                  "type": "number",
                  "format": "float",
                  "example": "5000.50"
                },
                "dealerNetPrice": {
                  "description": "",
                  "type": "number",
                  "format": "float",
                  "example": "500.35"
                },
                "additionalCosts": {
                  "description": "",
                  "type": "number",
                  "format": "float",
                  "example": "250.70"
                },
                "assetDescription": {
                  "description": "Description",
                  "type": "string",
                  "example": "QUANTUM new"
                },
                "manufacturingYear": {
                  "description": "Asset manufacturing year",
                  "type": "integer",
                  "format": "int32",
                  "example": "2019"
                },
                "operatingHours": {
                  "description": "Wear, in hours per year",
                  "type": "number",
                  "format": "float",
                  "example": "1300.0"
                },
                "operatingKm": {
                  "description": "Wear, in kilometers per year",
                  "type": "integer",
                  "format": "int32",
                  "example": "25070"
                },
                "operatingArea": {
                  "description": "The area of operating. Geographical information where the trailer will be used",
                  "type": "string",
                  "example": "Europe"
                },
                "residualValueAmount": {
                  "description": "Residual value on asset level",
                  "type": "number",
                  "format": "float",
                  "example": "3190.0"
                },
                "parentExternalId": {
                  "description": "ExternalId of asset parent, for which this asset is subasset",
                  "type": "string",
                  "example": "e20697d2d78f"
                },
                "vendorModelNumber": {
                  "description": "Schmitz Bauartnummer (Vendor Model number) needs to be transfered to Charisma System in asset new GST property named Vendor model number.",
                  "type": "string"
                }
              }
            }
          },
          "products": {
            "description": "Products on a quote",
            "nullable": false,
            "type": "array",
            "items": {
              "description": "Quote product",
              "required": [
                "quoteProductId",
                "productId",
                "productTypeId",
                "scheduleTypeId"
              ],
              "type": "object",
              "properties": {
                "quoteProductId": {
                  "description": "Quote product id in the Charisma System.",
                  "nullable": false,
                  "type": "integer",
                  "format": "int32",
                  "example": "8411"
                },
                "productId": {
                  "description": "Product id in the Charisma System.",
                  "nullable": false,
                  "type": "integer",
                  "format": "int32",
                  "example": "499"
                },
                "productCode": {
                  "type": "string"
                },
                "productName": {
                  "description": "Name of product.",
                  "type": "string",
                  "example": "LF-EUR-Std 2.65%"
                },
                "productTypeId": {
                  "description": "The id of product type",
                  "type": "integer",
                  "format": "int32",
                  "example": "-1656"
                },
                "productTypeCode": {
                  "type": "string"
                },
                "productTypeName": {
                  "description": "Name of product type",
                  "type": "string",
                  "example": "Finance Lease"
                },
                "scheduleTypeId": {
                  "description": "The id of schedule type",
                  "type": "integer",
                  "format": "int32",
                  "example": "50348817"
                },
                "duration": {
                  "description": "The duration of product in months.",
                  "type": "integer",
                  "format": "int32",
                  "example": "42"
                },
                "periodicity": {
                  "description": "Periodicity of product in months.",
                  "type": "integer",
                  "format": "int32",
                  "example": "12"
                },
                "startDate": {
                  "description": "Start date",
                  "type": "string",
                  "format": "date",
                  "example": "2020-07-21"
                },
                "interestPercent": {
                  "description": "Interest percent on product",
                  "type": "number",
                  "format": "float",
                  "example": "4.5000"
                },
                "downPaymentAmount": {
                  "description": "Down payment amount on product",
                  "type": "number",
                  "format": "float",
                  "example": "1000.00"
                },
                "downPaymentPercent": {
                  "description": "Down payment percent on product",
                  "type": "number",
                  "format": "float"
                },
                "residualValueAmount": {
                  "description": "Residual value amount on product",
                  "type": "number",
                  "format": "float",
                  "example": "0.0"
                },
                "residualValuePercent": {
                  "description": "Residual value percent on product",
                  "type": "number",
                  "format": "float"
                },
                "managementFeeAmount": {
                  "description": "Management fee amount on product",
                  "type": "number",
                  "format": "float",
                  "example": "150.00"
                },
                "floatingInterestPercent": {
                  "description": "Floating interest percent on product",
                  "type": "number",
                  "format": "float",
                  "example": "12.50"
                },
                "dealerCommissionValue": {
                  "description": "Dealer commission value on product",
                  "type": "number",
                  "format": "float",
                  "example": "1655"
                },
                "addInsurance": {
                  "description": "If an insurance is added",
                  "type": "boolean",
                  "example": true
                },
                "bankMargin": {
                  "description": "Bank margin value",
                  "type": "number",
                  "format": "float",
                  "example": "1500"
                },
                "interestTypeId": {
                  "description": "Id of interest type. Please see the dictionary values in Annex, excel file  *List of Property possible values*, sheet *Interest Type*, column  ID.",
                  "type": "integer",
                  "format": "int32",
                  "example": "70"
                },
                "interestTypeCode": {
                  "description": "Code of interest type. Please see the dictionary values in Annex, excel file  *List of Property possible values*, sheet *Interest Type*, column  CODE.",
                  "type": "string",
                  "example": "FixedEUR"
                },
                "interestTypeName": {
                  "description": "Name of interest type. Please see the dictionary values in Annex, excel file  *List of Property possible values*, sheet *Interest Type*, column  NAME.",
                  "type": "string",
                  "example": "Fixed EUR"
                },
                "variableInterestDate": {
                  "description": "Date of variable interest",
                  "type": "string",
                  "format": "date",
                  "example": "2020-07-21"
                },
                "services": {
                  "description": "List of services.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "serviceTypeId",
                      "serviceAmount"
                    ],
                    "properties": {
                      "serviceTypeId": {
                        "description": "Id of service type. Please see the Annex *List of Property possible values*, sheet *Service Type*, column *ID*. Values can also be found by calling */values/serviceType* (field *Id*).",
                        "type": "integer",
                        "format": "int32",
                        "example": "1"
                      },
                      "serviceTypeCode": {
                        "description": "Code of service type. Please see the dictionary values in Annex, excel file  *List of Property possible values*, sheet *Service Type*, column CODE.",
                        "type": "string",
                        "example": "MAIN"
                      },
                      "serviceTypeName": {
                        "description": "Name of service type. Please see the dictionary values in Annex, excel file  *List of Property possible values*, sheet *Service Type*, column NAME.",
                        "type": "string",
                        "example": "MAIN"
                      },
                      "serviceAmount": {
                        "description": "Service amount.",
                        "type": "number",
                        "format": "float",
                        "example": "100"
                      },
                      "periodicity": {
                        "description": "The periodicity on the service.",
                        "type": "string",
                        "example": "6-12"
                      },
                      "serviceUpfrontAmount": {
                        "description": "Upfront amount configuration.",
                        "type": "number",
                        "format": "float",
                        "example": "6500.75"
                      },
                      "financedYN": {
                        "description": "If it is financed.",
                        "type": "boolean",
                        "example": "false"
                      }
                    }
                  }
                },
                "cellParamsConfigurations": {
                  "description": "List of schedule cell configuration",
                  "nullable": false,
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/ScheduleTypeCellConfig"
                  }
                }
              }
            }
          }
        }
      },
      "GetTokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "grant_type": {
            "description": "Supported grant type is *client_credentials*.",
            "nullable": false,
            "type": "string",
            "example": "client_credentials"
          },
          "client_id": {
            "nullable": false,
            "type": "string"
          },
          "client_secret": {
            "type": "string",
            "nullable": false
          }
        }
      },
      "GetTokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "nullable": false
          },
          "token_type": {
            "type": "string",
            "nullable": false
          },
          "expires_in": {
            "type": "integer",
            "format": "int32",
            "nullable": false
          }
        }
      },
      "PingRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "example": "John"
          }
        }
      },
      "PingResponse": {
        "type": "object",
        "required": [
          "value"
        ],
        "properties": {
          "value": {
            "type": "string",
            "nullable": false,
            "example": "Hello John! Current application version is x.x.x.x."
          }
        }
      },
      "GetValuesResponse": {
        "type": "array",
        "items": {
          "description": "Different properties are returned depending on the request param that is provided.",
          "nullable": false,
          "type": "object"
        }
      },
      "GetPartnersRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "nullable": false,
          "required": [
            "filterCode",
            "filterValue"
          ],
          "properties": {
            "filterCode": {
              "description": "'Partner filter code. Allowed values can be found in the annex *Lists of property possible values*, sheet *ZootPartnerSearchConfigData*. Values can also be found by calling */values/zootPartnerSearchConfig* (field: *Code*).'",
              "nullable": false,
              "type": "string",
              "example": "COMP_NAME"
            },
            "filterValue": {
              "description": "Filter value",
              "nullable": false,
              "type": "string",
              "example": "GOLD"
            }
          }
        },
        "example": "[{\"filterCode\":\"COMP_NAME\",\"filterValue\":\"gold\"},{\"filterCode\":\"CITY\",\"filterValue\":\"london\"}]"
      },
      "GetPartnersResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "nullable": false,
          "required": [
            "origin",
            "name",
            "taxId"
          ],
          "properties": {
            "origin": {
              "description": "The source system. The partner information can come from Charisma or Credit Bureau. If origin field contains *Charisma* then *partnerId* field is a required field, otherwise the *bureauId* field is required.",
              "nullable": true,
              "type": "string",
              "example": "KEYSFIN"
            },
            "bureauId": {
              "description": "The identification number of the Partner from Credit Bureau.",
              "nullable": true,
              "type": "string",
              "example": "10"
            },
            "partnerId": {
              "description": "The identification field of the Partner from Charisma System. The value for this field will not be provided if the partner information was retrieved directly from a credit bureau. In order to have this information provided an api call needs to be done with the method */partner*, provideing the *bureauId* and the *origin* values.",
              "nullable": true,
              "type": "number",
              "format": "int32",
              "example": "270"
            },
            "address": {
              "description": "The address of the partner.",
              "nullable": true,
              "type": "string",
              "example": "94  Guild Street, London, N15 0HX"
            },
            "city": {
              "description": "The city of the partner.",
              "nullable": true,
              "type": "string",
              "example": "London"
            },
            "name": {
              "description": "Partner name extracted from Charisma or Credit Bureau.",
              "nullable": true,
              "type": "string",
              "example": "Deutsche Leasing London"
            },
            "taxId": {
              "description": "Tax id taken from partner.",
              "nullable": true,
              "type": "string",
              "example": "23"
            },
            "zip": {
              "description": "ZIP number taken from partner.",
              "nullable": true,
              "type": "string",
              "example": "23486"
            },
            "state": {
              "description": "State field from partner address.",
              "nullable": true,
              "type": "string"
            },
            "phone": {
              "description": "Partner phone number.",
              "nullable": true,
              "type": "string",
              "example": "+44 20 7656 0977"
            }
          }
        }
      },
      "GetAssetTypesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AssetType"
        }
      },
      "SyncQuoteRequest": {
        "description": "Quote content",
        "type": "object",
        "required": [
          "currencyId",
          "partnerId",
          "externalId",
          "assets",
          "products"
        ],
        "properties": {
          "quoteId": {
            "description": "The identification field of the quote from Charisma System. If this field is present then the coresponding quote will be updated, otherwise a new quote will be created and the new *quoteId* will be provided to the external system.",
            "nullable": true,
            "type": "integer",
            "format": "int32",
            "example": "1001"
          },
          "currencyId": {
            "description": "'The id of the currency in Charisma System.  Please see the annex *List of Property possible values*, sheet *Currency*, column *Id*. Values can also be found by calling */values/currency* (field: *Id*).'",
            "nullable": false,
            "type": "integer",
            "format": "int32",
            "example": "28"
          },
          "partnerId": {
            "description": "The id of the client partner from Charisma System.",
            "nullable": false,
            "type": "integer",
            "format": "int32",
            "example": "50423658"
          },
          "externalId": {
            "description": "The identification field of the quote from External System.",
            "nullable": false,
            "type": "string",
            "example": "9001"
          },
          "externalSalesman": {
            "description": "Based on the last workshop meetings it was reached the conclusion that the vendor can’t be saved as a partner automatically. In this case, it will be saved in the contract property *External Salesman*.",
            "type": "string",
            "nullable": true
          },
          "vendorRegionalBusinessManager": {
            "description": "Based on the last workshop meetings it was reached the conclusion that the vendor can’t be saved as a partner automatically. In this case, it will be saved in the contract property *Vendor regional business manager*.",
            "type": "string",
            "nullable": true
          },
          "vendorFinanceContact": {
            "description": "Based on the last workshop meetings it was reached the conclusion that the vendor can’t be saved as a partner automatically. In this case, it will be saved in the contract property *Vendor finance contact*.",
            "type": "string",
            "nullable": true
          },
          "purchaseOption": {
            "description": "'Possible values: \n  call-option: lessee decides whether he wants to buy the asset at the end of the contract\n  put-option: lessor decides whether the lessee has to buy the asset at the end of the contract\nWill be stored in new GST property in offer, CA, contract Purchase Option.'",
            "type": "string",
            "nullable": true
          },
          "paymentDay": {
            "description": "Payment day of the month (SCB 1 or 15).",
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "assets": {
            "description": "This needs to be at least an empty array.",
            "nullable": false,
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "assetNetPrice",
                "externalId",
                "assetId"
              ],
              "properties": {
                "quoteAssetId": {
                  "description": "The identification field of the quote asset from Charisma System. If this field is present then the coresponding quote asset will be updated, otherwise a new quote asset will be created (and added on the quote) and the new *quoteAssetId* will be provided to the external system.",
                  "type": "integer",
                  "nullable": true,
                  "format": "int32",
                  "example": "10011"
                },
                "externalId": {
                  "description": "The identification field of the quote asset from External System.",
                  "type": "string",
                  "nullable": false,
                  "example": "90011"
                },
                "assetId": {
                  "description": "The value of the *ModelId* field from Assets sheet (List of property possible values.xlsx). Values can also be found by calling */assetTypes?currencyId=${currency id from the quote}* (field *AssetId*) or by calling */quotes/${quote id from Charisma System}/assetTypes* (field *AssetId*).",
                  "nullable": false,
                  "type": "integer",
                  "format": "int32",
                  "example": "10011"
                },
                "assetNetPrice": {
                  "description": "Asset net price",
                  "nullable": false,
                  "type": "number",
                  "format": "float",
                  "example": "5000.50"
                },
                "dealerNetPrice": {
                  "description": "Asset net price from dealer.",
                  "nullable": true,
                  "type": "number",
                  "format": "float",
                  "example": "500.35"
                },
                "additionalCosts": {
                  "description": "Asset additional costs.",
                  "nullable": true,
                  "type": "number",
                  "format": "float",
                  "example": "250.70"
                },
                "conditionTypeId": {
                  "description": "Condition type id of asset in Charisma System. Values can be found by calling */values/conditionType* (field *Id*).",
                  "nullable": true,
                  "type": "integer",
                  "format": "int32",
                  "example": "-1"
                },
                "usageTypeId": {
                  "description": "Usage type id of asset in Charisma System. Values can be found by calling */values/usageType* (field *Id*).",
                  "nullable": true,
                  "type": "integer",
                  "format": "int32",
                  "example": "-1"
                },
                "environmentFriendlyTypeId": {
                  "description": "Environment friendly type id of asset in Charisma System. Values can be found by calling */values/environmentFriendly* (field *Id*).",
                  "nullable": true,
                  "type": "integer",
                  "format": "int32",
                  "example": "-2"
                },
                "supplierId": {
                  "description": "The id of the supplier partner from Charisma System.",
                  "nullable": true,
                  "type": "integer",
                  "format": "int32",
                  "example": "16778131"
                },
                "assetDescription": {
                  "description": "Description",
                  "nullable": true,
                  "type": "string",
                  "example": "QUANTUM new"
                },
                "manufacturingYear": {
                  "description": "Asset manufacturing year",
                  "nullable": false,
                  "type": "integer",
                  "format": "int32",
                  "example": "2019"
                },
                "operatingHours": {
                  "description": "Wear, in hours per year",
                  "nullable": true,
                  "type": "number",
                  "format": "float",
                  "example": "1300.0"
                },
                "operatingKm": {
                  "description": "Wear, in kilometers per year",
                  "nullable": true,
                  "type": "integer",
                  "format": "int32",
                  "example": "25070"
                },
                "operatingArea": {
                  "description": "The area of operating. Geographical information where the trailer will be used",
                  "nullable": true,
                  "type": "string",
                  "example": "Europe"
                },
                "residualValueAmount": {
                  "description": "Residual value on asset level",
                  "nullable": true,
                  "type": "number",
                  "format": "float",
                  "example": "3190.0"
                },
                "parentExternalId": {
                  "description": "ExternalId of asset parent, for which this asset is a subasset.",
                  "nullable": true,
                  "type": "string",
                  "example": "e20697d2d78f"
                },
                "vendorModelNumber": {
                  "description": "Schmitz Bauartnummer (Vendor Model number) needs to be transfered to Charisma System in asset new GST property named Vendor model number.",
                  "nullable": true,
                  "type": "string"
                }
              }
            }
          },
          "products": {
            "description": "This needs to be at least an empty array.",
            "nullable": false,
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "productId",
                "scheduleTypeId",
                "downPaymentAmount",
                "residualValueAmount",
                "periodicity",
                "duration",
                "interestPercent",
                "startDate",
                "services",
                "cellParamsConfigurations"
              ],
              "properties": {
                "quoteProductId": {
                  "description": "The identification field of the quote product from Charisma System. This needs to be provided if it is available in the external system.",
                  "nullable": true,
                  "type": "integer",
                  "format": "int32",
                  "example": "100111"
                },
                "productId": {
                  "description": "Product id from Charisma System. Please see the dictionary values in Annex, excel file List of Property possible values, sheet Type of Financial product, column ID",
                  "nullable": false,
                  "type": "integer",
                  "format": "int32",
                  "example": "10"
                },
                "scheduleTypeId": {
                  "description": "Id of the schedule type from Charisma System. Values can be found by calling */values/scheduleType* (field *Id*).",
                  "nullable": false,
                  "type": "integer",
                  "format": "int32"
                },
                "downPaymentAmount": {
                  "description": "Down payment amount. Can not be provided in the same time with *downPaymentPercent* field.",
                  "nullable": true,
                  "type": "number",
                  "format": "float",
                  "example": "600"
                },
                "downPaymentPercent": {
                  "description": "Down payment percent. Can not be provided in the same time with *downPaymentAmount* field.",
                  "nullable": true,
                  "type": "number",
                  "format": "float"
                },
                "residualValueAmount": {
                  "description": "Residual amount. Can not be provided in the same time with *residualValuePercent* field.",
                  "nullable": true,
                  "type": "number",
                  "format": "float",
                  "example": "1000"
                },
                "residualValuePercent": {
                  "description": "Residual percent. Can not be provided in the same time with *residualValueAmount* field.",
                  "nullable": true,
                  "type": "number",
                  "format": "float"
                },
                "managementFeeAmount": {
                  "description": "Management fee amount.",
                  "nullable": true,
                  "type": "number",
                  "format": "float"
                },
                "periodicity": {
                  "description": "Periodicity.",
                  "nullable": false,
                  "type": "integer",
                  "format": "int32",
                  "example": "12"
                },
                "duration": {
                  "description": "The filled duration for the product.",
                  "type": "integer",
                  "nullable": false,
                  "format": "int32",
                  "example": "48"
                },
                "interestPercent": {
                  "description": "Interest percent.",
                  "nullable": false,
                  "type": "number",
                  "format": "float",
                  "example": "11.25"
                },
                "startDate": {
                  "description": "Start date",
                  "nullable": false,
                  "type": "string",
                  "format": "date",
                  "example": "2020-07-21"
                },
                "dealerCommissionValue": {
                  "description": "Value of dealer commission.",
                  "nullable": true,
                  "type": "number",
                  "format": "float",
                  "example": "134.70"
                },
                "addInsurance": {
                  "description": "If an insurance is added",
                  "nullable": true,
                  "type": "boolean",
                  "example": true
                },
                "interestTypeId": {
                  "description": "The interst type id",
                  "nullable": true,
                  "type": "integer",
                  "format": "int32",
                  "example": "70"
                },
                "variableInterestDate": {
                  "description": "Date of variable interest",
                  "nullable": true,
                  "type": "string",
                  "format": "date",
                  "example": "2020-07-21"
                },
                "services": {
                  "description": "List of services.",
                  "nullable": false,
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "object",
                    "required": [
                      "serviceTypeId",
                      "serviceAmount"
                    ],
                    "properties": {
                      "serviceTypeId": {
                        "description": "Id of service type. Please see the Annex *List of Property possible values*, sheet *Service Type*, column *ID*. Values can also be found by calling */values/serviceType* (field *Id*).",
                        "nullable": false,
                        "type": "integer",
                        "format": "int32",
                        "example": "1"
                      },
                      "serviceAmount": {
                        "description": "Service amount.",
                        "nullable": false,
                        "type": "number",
                        "format": "float",
                        "example": "100"
                      },
                      "periodicity": {
                        "description": "The periodicity on the service.",
[...]
